In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import openpyxl
import re
import os
from variableUtils import *
import variableUtils
from Utils import *
from ClassUtils import *
from pprint import pprint
import json
from sklearn.ensemble import RandomForestRegressor
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import matplotlib.pyplot as plt
from matplotlib.patches import Rectangle
from reportlab.lib.pagesizes import letter, landscape, A4, A3
from reportlab.platypus import SimpleDocTemplate, Table, TableStyle, PageBreak, Paragraph, Spacer, Image
from reportlab.lib import colors
from matplotlib.backends.backend_pdf import PdfPages
from reportlab.platypus import Paragraph, Spacer, KeepTogether, KeepInFrame
from reportlab.lib.styles import getSampleStyleSheet, ParagraphStyle
from reportlab.lib.units import inch
import io
from openpyxl import load_workbook
from openpyxl.styles import PatternFill
from openpyxl.formatting.rule import FormulaRule
import PIL
import json
import textwrap
warnings.filterwarnings('ignore')
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
print(sns.__version__)

(841.68, 1190.8799999999999)
0.13.2

In [23]:
# workbookpath = '2024\DCD\Postgraduate Clinical Evaluation Paeds_March 14, 2025_13.24.xlsx'
# workbookpath = '2025\DCD\Paeds\Postgraduate Clinical Evaluation Paeds - 2025_April 10, 2025_12.29.xlsx'
workbookpath = '2025\DCD\Oral Med\Postgraduate Clinical Evaluation - DCD in Oral Medicine_May 15, 2025_14.31.xlsx'
workbookpath =  '2025\DCD\Prostho\Postgraduate Clinical Evaluation - DCD in Prosthodontics_May 15, 2025_14.32.xlsx'
folder, file, ext = getFolderandFileName(workbookpath)
df = pd.read_excel(workbookpath)
fullnamedict = {df.columns[i]: df.iloc[0, i] for i in range(len(df.columns))}
df = df[1:]
colName = 'Student Name'
# mccols are with Q\d+_\d+ pattern
mcCols = [col for col in df.columns if re.match(r'Q\d+_\d+', col)]
mcColIdentifier = 'Q9'
# remove 
generalCols = [col for col in mcCols if mcColIdentifier in col]
mcCols = [col for col in mcCols if mcColIdentifier not in col]
print(mcCols)
colDate = 'Date'
extraCols = ['Time management', 'Entrustment scale']

commentCol1 = 'Q10'
commentCol2 = 'Critical incident'
finalgradedict = {'Far exceeds expected level of performance considering stage of training: H1 (80-100)':5, 'Exceeds expected level of performance considering stage of training: H 2A (75-79) and B (70-74)':4, 
                  'At expected level of performance considering stage of training: H3 (65-69)':3, 'Barely meets expected level of performance considering stage of training: P (50-64)':2,
                  'Does not meet expected level of performance considering stage of training: N (0-49)':1, 'No basis for evaluation':np.nan, 'Clinical rotation not completed':np.nan, 'Not applicable':np.nan}
colorlegendfinal = {'Far exceeds expected level of performance considering stage of training: H1 (80-100)':'#4c72b0', 'Exceeds expected level of performance considering stage of training: H 2A (75-79) and B (70-74)':'#55a868',
                    'At expected level of performance considering stage of training: H3 (65-69)':'#e07a5f', 'Barely meets expected level of performance considering stage of training: P (50-64)':'#f9c74f',
                    'Does not meet expected level of performance considering stage of training: N (0-49)':'#993f14', 'Clinical rotation not completed':'gray'}
# colFinalGrade = 'Q22'
# df[colFinalGrade] = df[colFinalGrade].replace(finalgradedict)
# df[colFinalGrade] = df[colFinalGrade].astype(float)
mcgradedict = {'Completed with substantial assistance':1, 'Completed with minimal assistance':2, 'Completed independently (competent)':3, 'No basis for evaluation': np.nan}
generalgradedict = {'ALWAYS': 4, 'OFTEN': 3, 'SOMETIMES': 2, 'RARELY': 1, 'NEVER': 0, 'Not graded': np.nan}
# create color legend dictionary
colorlegendmc = {'Completed with substantial assistance': '#e07a5f', 'Completed with minimal assistance': '#55a868', 'Completed independently (competent)': '#4c72b0', 'No basis for evaluation': 'gray',
              }
colorlegendgeneral =  {'ALWAYS': '#4c72b0', 'OFTEN': '#55a868', 'SOMETIMES': '#e07a5f', 'RARELY': '#f9c74f', 'NEVER': '#993f14', 'Not graded': 'gray'}
reversemcgradedict = {v:k for k, v in mcgradedict.items()}
referencedf = pd.DataFrame(reversemcgradedict.items(), columns=['Grade', 'Description'])
# drop nan values from grade column
referencedf.dropna(inplace=True)
referencedf['Grade'] = referencedf['Grade'].astype(int)
referencedf.sort_values(by='Grade', inplace=True)
referencetable = createTable(referencedf, 'Score reference', [1, 5], customTextCols=[1])
df[mcCols] = df[mcCols].replace(mcgradedict)
df[colDate] = pd.to_datetime(df[colDate], format = 'mixed')
df.sort_values(by=[colName, colDate], inplace=True)
df[colDate] = df[colDate].dt.date
df[colDate] = df[colDate].astype(str)
df[mcCols] = df[mcCols].astype(float)

# count the number of each scores for each student
df['#3'] = df[mcCols].apply(lambda x: x.value_counts().get(3, 0), axis=1)
df['#2'] = df[mcCols].apply(lambda x: x.value_counts().get(2, 0), axis=1)
df['#1'] = df[mcCols].apply(lambda x: x.value_counts().get(1, 0), axis=1)
df['#nan'] = df[mcCols].apply(lambda x: pd.isna(x)).sum(axis=1)

df[generalCols] = df[generalCols].replace(generalgradedict)
# display(df.head())

students = df[colName].unique()

# for student in students:
def getReport(student):
    elements = []
    elements.append(Paragraph(f'{student}', style = headingStyle))
    elements.append(Spacer(1, 36))
    # elements.append(Paragraph(f'Number of forms: {len(df[df[colName] == student])}', style = subheadingStyle))
    # elements.append(Spacer(1, 12))
    elements.append(Paragraph('Marking Checklists', style = subheadingStyle))
    elements.append(Spacer(1, 12))
    elements.append(referencetable)
    elements.append(Spacer(1, 24))
    studentdf = df[df[colName] == student]
    display(studentdf.head())
    elements.append(Paragraph(f'Number of forms: {len(studentdf)}', style = subsubheadingStyle))
    elements.append(Spacer(1, 24))
    # plot time series of scores for each mc question ignoring the nan values
    for col in mcCols:
        fig, ax = plt.subplots(1,2, figsize=(30, 5))
        xy = studentdf[[colDate, col]].dropna()
        # aggregate the scores for each date by taking the mean
        xy = xy.groupby(colDate).mean().reset_index()
        display(xy.head())
        ax[0].plot(xy[colDate], xy[col], marker='o', color='blue')
        title = fullnamedict[col].split(' - ')[-1]
        ax[0].set_xticklabels(ax[0].get_xticklabels(), rotation=90, ha='right')
        ax[0].yaxis.set_major_locator(plt.MaxNLocator(integer=True))
        ax[0].set_title('Time Series of Scores')
        plt.grid('--', alpha=0.5)
        ax[0].set_ylim(0, 3.5)

        valuecounts = studentdf[col].value_counts(dropna=False)
        # valuecounts.index = valuecounts.index.astype(int)
        valuecounts.index = [k for k, v in mcgradedict.items() if v in valuecounts.index]
        total = valuecounts.sum()
        colors = [colorlegend.get(k, 'black') for k in valuecounts.index]
        ax[1].pie(valuecounts, labels=valuecounts.index, autopct= lambda x: autopct(x, total), colors=colors)
        ax[1].set_title('Distribution of Scores')
        wrappedTitle = "\n".join(textwrap.wrap(fullnamedict[col].split(' - ')[-1], width=80))  # Adjust width as needed
        # plt.suptitle(wrappedTitle)
        img = addPlotImage(fig, 0.9)
        smallsubsubheadingStyle = ParagraphStyle('Heading3', parent=styles['Heading3'], fontSize=13, alignment=1)
        elements.append(KeepTogether([Paragraph(wrappedTitle, style = smallsubsubheadingStyle), Spacer(1, 12), img]))
        # elements.append(img)
        elements.append(Spacer(1, 24))
        plt.close(fig)
    
    elements.append(PageBreak())
    # plot time series of scores for each general question ignoring the nan values
    for col in generalCols:
        fig, ax = plt.subplots(1,2, figsize=(30, 5))
        xy = studentdf[[colDate, col]].dropna()
        # aggregate the scores for each date by taking the mean
        xy = xy.groupby(colDate).mean().reset_index()
        display(xy.head())
        ax[0].plot(xy[colDate], xy[col], marker='o', color='blue')
        title = fullnamedict[col].split(' - ')[-1]
        ax[0].set_xticklabels(ax[0].get_xticklabels(), rotation=90, ha='right')
        ax[0].yaxis.set_major_locator(plt.MaxNLocator(integer=True))
        ax[0].set_title('Time Series of Scores')
        plt.grid('--', alpha=0.5)
        ax[0].set_ylim(0, 4.5)

        valuecounts = studentdf[col].value_counts(dropna=False)
        # valuecounts.index = valuecounts.index.astype(int)
        valuecounts.index = [k for k, v in generalgradedict.items() if v in valuecounts.index]
        total = valuecounts.sum()
        colors = [colorlegend.get(k, 'black') for k in valuecounts.index]
        ax[1].pie(valuecounts, labels=valuecounts.index, autopct= lambda x: autopct(x, total), colors=colors)
        ax[1].set_title('Distribution of Scores')
        wrappedTitle = "\n".join(textwrap.wrap(fullnamedict[col].split(' - ')[-1], width=80))
        # plt.suptitle(wrappedTitle)
        img = addPlotImage(fig, 0.9)
        smallsubsubheadingStyle = ParagraphStyle('Heading3', parent=styles['Heading3'], fontSize=13, alignment=1)
        elements.append(KeepTogether([Paragraph(wrappedTitle, style = smallsubsubheadingStyle), Spacer(1, 12), img]))
        # elements.append(img)
        elements.append(Spacer(1, 24))
        plt.close(fig)

    elements.append(PageBreak())

    elements.append(Paragraph('Final Grades', style = headingStyle))
    elements.append(Spacer(1, 36))
    reversefinalgradedict = {v:k for k, v in finalgradedict.items()}
    refdf2 = pd.DataFrame(reversefinalgradedict.items(), columns=['Grade', 'Description'])
    refdf2.dropna(inplace=True)
    refdf2['Grade'] = refdf2['Grade'].astype(int)
    # drop nan values from grade column

    refdf2.sort_values(by='Grade', inplace=True)
    refTable2 = createTable(refdf2, 'Final Grade Reference', [1, 5], customTextCols=[1])
    elements.append(refTable2)
    elements.append(Spacer(1, 24))
    # plot time series of final grades
    fig, ax = plt.subplots(1,1, figsize=(30, 5))
    xy = studentdf[[colDate, colFinalGrade]].dropna()
    xy = xy.groupby(colDate).mean().reset_index()     # aggregate the scores for each date by taking the mean
    ax.plot(xy[colDate], xy[colFinalGrade])
    title = 'Final Grade Time Series'
    ax.set_xticklabels(ax.get_xticklabels(), rotation=90, ha='right')
    ax.yaxis.set_major_locator(plt.MaxNLocator(integer=True))     # integer ticks on y axis
    ax.set_ylim(0, 5)
    ax.set_title(title)
    plt.grid('--', alpha=0.5)
    img = addPlotImage(fig, 0.9)
    elements.append(img)
    plt.close(fig)
    elements.append(Spacer(1, 36))
    
    # pie chart of final grades
    fig, ax = plt.subplots(1,1, figsize=(10, 10))
    xy = studentdf[colFinalGrade].dropna()
    xy = xy.value_counts()
    total = xy.sum()
    xy = xy.sort_index()
    xy.index = [k for k, v in finalgradedict.items() if v in xy.index]     # labels based on finalgradedict
    ax.pie(xy, labels=xy.index, autopct= lambda x: autopct(x, total))
    title = 'Final Grade Distribution'
    ax.set_title(title)
    
    img = addPlotImage(fig, 0.9)
    elements.append(img)
    plt.close(fig)

    # time series of number of each score
    fig, ax = plt.subplots(1, 1, figsize=(30, 10))
    xy = studentdf[[colDate, '#3', '#2', '#1', '#nan']].dropna()
    xy = xy.groupby(colDate).sum().reset_index()
    xy.set_index(colDate, inplace=True)
    xy.plot(kind='bar', stacked=True, color=['blue', 'green', 'orange', 'gray'], ax=ax)
    ax.set_xticklabels(ax.get_xticklabels(), rotation=90, ha='right')
    ax.yaxis.set_major_locator(plt.MaxNLocator(integer=True))
    ax.set_title('Stacked Bar Chart of Number of Each Score')
    ax.legend(title='Scores')
    plt.grid('--', alpha=0.5)
        # ax[i].set_ylim(0, 5)
    img = addPlotImage(fig, 0.9)
    elements.append(KeepTogether([Paragraph('Counts of Each Score', style = subheadingStyle), Spacer(1, 12), img]))
    plt.close(fig)
    elements.append(PageBreak())

    savefolder = f'{folder}/studentReports'
    os.makedirs(savefolder, exist_ok=True)
    doc= SimpleDocTemplate(f'{savefolder}/{student}.pdf', pagesize=pageSize, rightMargin=rightMargin, leftMargin=leftMargin, topMargin=topMargin, bottomMargin=bottomMargin)
    doc.build(elements)

def chunkList(lst, size):
    for i in range(0, len(lst), size):
        yield lst[i:i+size]


def createPieCharts(mcCols, n, mcgradedict, colorlegend, elements, studentdf, fullnamedict):
    for groupIndex, mcChunk in enumerate(chunkList(mcCols, n)):
        fig, axes = plt.subplots(3, 2, figsize=(figSize[0], figSize[1]))
        fig.subplots_adjust(hspace=0.4, wspace=0.3)
        axes = axes.flatten()
        for idx, col in enumerate(mcChunk):
            ax = axes[idx]
            yTitle = 1.3
            faceColor = '#f2f2f2'  # background shading
            # add frame
            framePadding = 0.02
            bbox = ax.get_position()
            # Calculate extended box
            x0 = bbox.x0 - 2 * framePadding
            y0 = bbox.y0 - framePadding
            width = bbox.width + 4 * framePadding
            height = bbox.height + (yTitle - 1.23) + framePadding  # 1.0 is top of axes

            # Draw rectangle in figure space
            rect = Rectangle(
                (x0, y0), width, height,
                linewidth=1,
                edgecolor='black',
                facecolor=faceColor,
                transform=fig.transFigure,
                zorder=-5
            )
            fig.patches.append(rect)


            valuecounts = studentdf[col].value_counts(dropna=False)   
            display(valuecounts) 
            newkeys = []
            for v in valuecounts.index:
                for k, val in mcgradedict.items():
                    if (pd.isna(v) and pd.isna(val)) or (v == val):
                        newkeys.append(k)
                        break
            print(newkeys)

            valuecounts.index = newkeys
            total = valuecounts.sum()
            display(valuecounts)
            colors = [colorlegend.get(k, 'black') for k in valuecounts.index]
            
            # create pie without labels
            wedges, _, autotexts = ax.pie(
                valuecounts,
                labels=None,
                autopct=lambda x: autopct(x, total),
                colors=colors,
                textprops={'fontsize': 7}
            )
            

            title = textwrap.fill(fullnamedict[col].split(' - ')[-1], width=55)  # Adjust width as needed
            # ax.set_title(title, fontsize=9)
            ax.text(0.5, yTitle, title, ha='center', va='top', fontsize=8, transform=ax.transAxes, wrap=True)


            # Add legend to bottom-left of figure
            legendHandles = [
                plt.Line2D([0], [0], marker='o', color='w', label=label,
                        markerfacecolor=color, markersize=8)
                for label, color in colorlegend.items()
            ]

            fig.legend(
                handles=legendHandles,
                loc='upper left',
                bbox_to_anchor=(0.09, 1.03),
                fontsize=8
            )

        # Hide unused subplots
        for j in range(len(mcChunk), n):
            axes[j].axis('off')


        # Save or display
        img = addPlotImage(fig, 0.9)
        # elements.append(KeepTogether([Paragraph(f"Batch {groupIndex+1} Pie Charts", smallsubsubheadingStyle), Spacer(1, 12), img]))
        elements.append(KeepTogether([img]))
        elements.append(Spacer(1, 24))
        plt.close(fig)
    
    # elements.append(PageBreak())
def getReportType2(student): # only plot the pie charts for each mc question, general question and final grade
    elements = []
    elements.append(Paragraph(f'{student}', style = subheadingStyle))
    elements.append(Spacer(1, 24))
    studentdf = df[df[colName] == student]
    display(studentdf.head())
    elements.append(Paragraph(f'Number of forms: {len(studentdf)}', style = tableTextStyleLarge))
    elements.append(Spacer(1, 24))
    # plot mc question ignoring the nan values
    n = 6
    createPieCharts(mcCols, n, mcgradedict, colorlegendmc, elements, studentdf, fullnamedict)
    elements.append(PageBreak())

    # plot general question ignoring the nan values
    createPieCharts(generalCols, n, generalgradedict, colorlegendgeneral, elements, studentdf, fullnamedict)
    elements.append(PageBreak())


    # # plot final grade ignoring the nan values
    # elements.append(Paragraph('Final Grades', style = subsubheadingStyle))
    # elements.append(Spacer(1, 24))
    # reversefinalgradedict = {v:k for k, v in finalgradedict.items()}
    # refdf2 = pd.DataFrame(reversefinalgradedict.items(), columns=['Grade', 'Description'])
    # refdf2.dropna(inplace=True)
    # refdf2['Grade'] = refdf2['Grade'].astype(int)
    # # drop nan values from grade column

    # refdf2.sort_values(by='Grade', inplace=True)
    # refTable2 = createTable(refdf2, 'Final Grade Reference', [1, 5], customTextCols=[1])
    # # elements.append(refTable2)
    # # elements.append(Spacer(1, 24))
    # # plot time series of final grades
    # fig, ax = plt.subplots(1,1, figsize=(figSize[0], figSize[1]/5))
    # xy = studentdf[[colDate, colFinalGrade]].dropna()
    # xy = xy.groupby(colDate).mean().reset_index()     # aggregate the scores for each date by taking the mean
    # ax.plot(xy[colDate], xy[colFinalGrade])
    # title = 'Average Time Series'
    # ax.set_xticklabels(ax.get_xticklabels(), rotation=90, ha='right', fontsize=6)
    # ax.yaxis.set_major_locator(plt.MaxNLocator(integer=True))     # integer ticks on y axis
    # ax.set_ylim(0, 5.4)
    # ax.set_title(title, fontsize=10)
    # plt.grid('--', alpha=0.5)
    # img = addPlotImage(fig, 0.9)
    # # elements.append(img)
    # plt.close(fig)
    # # elements.append(Spacer(1, 24))
    
    # # pie chart of final grades
    # fig, ax = plt.subplots(1,1, figsize=(figSize[0]*0.6, figSize[0]*0.6))
    # xy = studentdf[colFinalGrade].dropna()
    # xy = xy.value_counts()
    # total = xy.sum()
    # xy = xy.sort_index()
    # xy.index =  xy.index.map(reversefinalgradedict)    # labels based on finalgradedict
    # labels = [textwrap.fill(k, width=100) for k in xy.index]
    # ax.pie(xy, autopct= lambda x: autopct(x, total),textprops={'fontsize': 11}, labels = labels, colors=[colorlegendfinal.get(k, 'gray') for k in xy.index])
    # # Add legend to bottom-left of figure
    # # legendHandles = [
    # #     plt.Line2D([0], [0], marker='o', color='w', label=label,
    # #             markerfacecolor=color, markersize=6)
    # #     for label, color in colorlegendfinal.items()
    # # ]

    # # fig.legend(
    # #     handles=legendHandles,
    # #     loc='upper left',
    # #     bbox_to_anchor=(0.09, 0.03),
    # #     fontsize=6
    # # )
    # title = 'Final Grade Distribution'
    # ax.set_title(None)
    # img = addPlotImage(fig, 0.9)
    # elements.append(img)
    # plt.close(fig)
    # elements.append(Spacer(1, 24))
    
    # create pie charts for extra columns similar to final grades
    for col in extraCols:
        fig, ax = plt.subplots(1,1, figsize=(figSize[0]*0.6, figSize[0]*0.6))
        xy = studentdf[col].dropna()
        xy = xy.value_counts()
        total = xy.sum()
        xy = xy.sort_index()
        # xy.index =  xy.index.map(reversefinalgradedict)    # labels based on finalgradedict
        labels = [textwrap.fill(k, width=100) for k in xy.index]
        ax.pie(xy, autopct= lambda x: autopct(x, total),textprops={'fontsize': 11}, labels = labels)
        title = f'{col} Distribution'
        ax.set_title(None)
        img = addPlotImage(fig, 0.9)
        elements.append(KeepTogether([Paragraph(title, style = subheadingStyle), Spacer(1, 12), img]))
        plt.close(fig)
        elements.append(Spacer(1, 24))
    
    # add comments of Q20 and Q21 as table
    commentsdfq20 = studentdf[['Staff', commentCol1]].dropna()
    commentsdfq20.rename(columns={commentCol1: 'Comments'}, inplace=True)
    display(commentsdfq20.head())
    commentstableq20 = createTable(commentsdfq20, f'{fullnamedict[commentCol1]}', [1, 5], customTextCols=[0, 1], titleStyle=variableUtils.smallsubsubheadingStyleC, tableTextStyle=tableTextStyleSmall)
    elements.append(commentstableq20)
    elements.append(Spacer(1, 24))
    commentsdfq21 = studentdf[['Staff', commentCol2]].dropna()
    commentsdfq21.rename(columns={commentCol2: 'Comments'}, inplace=True)
    display(commentsdfq21.head())
    commentstableq21 = createTable(commentsdfq21, f'{fullnamedict[commentCol2]}', [1, 5], customTextCols=[0, 1], titleStyle=variableUtils.smallsubsubheadingStyleC, tableTextStyle=tableTextStyleSmall)
    elements.append(commentstableq21)
    # elements.append(Spacer(1, 24))

    savefolder = f'{folder}/studentReports Brief'
    os.makedirs(savefolder, exist_ok=True)
    doc= SimpleDocTemplate(f'{savefolder}/{student}.pdf', pagesize=pageSize, rightMargin=rightMargin, leftMargin=leftMargin, topMargin=topMargin, bottomMargin=bottomMargin)
    doc.build(elements)
students = df[colName].unique()
for student in students:
    getReportType2(student)
    # break
# getReport('Grace Wu')
# getReport('Andrew Park')

['Q7_1', 'Q7_2', 'Q8_1', 'Q8_2', 'Q8_3', 'Q8_4', 'Q8_5', 'Q8_6', 'Q8_7', 'Q8_8', 'Q8_9', 'Q8_10']
Creating table for Score reference

,StartDate,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,RecipientLastName,RecipientFirstName,RecipientEmail,ExternalReference,LocationLatitude,LocationLongitude,DistributionChannel,UserLanguage,Date,Student Name,Site,Staff,Q7_1,Q7_2,Q8_1,Q8_2,Q8_3,Q8_4,Q8_5,Q8_6,Q8_7,Q8_8,Q8_9,Q8_10,Q9_1,Q9_2,Q9_3,Q9_4,Q9_5,Q9_6,Q9_7,Q9_8,Q9_9,Q10,Critical incident,CI Details,Time management,Entrustment scale,#3,#2,#1,#nan
1,2025-03-20 10:20:53,2025-03-20 10:26:01,IP Address,128.250.0.47,100,308,True,2025-03-20 10:26:03.113000,R_4VVZepfWjVlesQ9,NaN,NaN,NaN,NaN,-37.8024,144.9659,anonymous,EN,2025-03-20,Alex Ho,Melbourne Dental Clinic,Jaafar Abduo,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,4.0,4.0,4.0,4.0,4.0,NaN,NaN,NaN,NaN,lkjb,Yes,;ioj,Lvl 1: Work not completed in allocated timeframe.,Lvl 3: Student can be trusted to perform task ...,12,0,0,0
13,2025-05-08 23:14:19,2025-05-08 23:19:16,IP Address,122.150.165.11,100,296,True,2025-05-08 23:19:18.067000,R_9ump24pO0WYwxLH,NaN,NaN,NaN,NaN,-37.8186,145.1277,anonymous,EN,2025-05-08,Alex Ho,Royal Dental Hospital Melbourne RDHM,Chen Chen,3.0,3.0,3.0,3.0,2.0,1.0,2.0,1.0,1.0,2.0,2.0,3.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,Good demonstration of managing pt expectations...,No,NaN,Lvl 2: Reaches a step (or point) in the proced...,Lvl 3: Student can be trusted to perform task ...,5,4,3,0

Q7_1
3.0    2
Name: count, dtype: int64

['Completed independently (competent)']

Completed independently (competent)    2
Name: count, dtype: int64

Q7_2
3.0    2
Name: count, dtype: int64

['Completed independently (competent)']

Completed independently (competent)    2
Name: count, dtype: int64

Q8_1
3.0    2
Name: count, dtype: int64

['Completed independently (competent)']

Completed independently (competent)    2
Name: count, dtype: int64

Q8_2
3.0    2
Name: count, dtype: int64

['Completed independently (competent)']

Completed independently (competent)    2
Name: count, dtype: int64

Q8_3
3.0    1
2.0    1
Name: count, dtype: int64

['Completed independently (competent)', 'Completed with minimal assistance']

Completed independently (competent)    1
Completed with minimal assistance      1
Name: count, dtype: int64

Q8_4
3.0    1
1.0    1
Name: count, dtype: int64

['Completed independently (competent)', 'Completed with substantial assistance']

Completed independently (competent)      1
Completed with substantial assistance    1
Name: count, dtype: int64

Q8_5
3.0    1
2.0    1
Name: count, dtype: int64

['Completed independently (competent)', 'Completed with minimal assistance']

Completed independently (competent)    1
Completed with minimal assistance      1
Name: count, dtype: int64

Q8_6
3.0    1
1.0    1
Name: count, dtype: int64

['Completed independently (competent)', 'Completed with substantial assistance']

Completed independently (competent)      1
Completed with substantial assistance    1
Name: count, dtype: int64

Q8_7
3.0    1
1.0    1
Name: count, dtype: int64

['Completed independently (competent)', 'Completed with substantial assistance']

Completed independently (competent)      1
Completed with substantial assistance    1
Name: count, dtype: int64

Q8_8
3.0    1
2.0    1
Name: count, dtype: int64

['Completed independently (competent)', 'Completed with minimal assistance']

Completed independently (competent)    1
Completed with minimal assistance      1
Name: count, dtype: int64

Q8_9
3.0    1
2.0    1
Name: count, dtype: int64

['Completed independently (competent)', 'Completed with minimal assistance']

Completed independently (competent)    1
Completed with minimal assistance      1
Name: count, dtype: int64

Q8_10
3.0    2
Name: count, dtype: int64

['Completed independently (competent)']

Completed independently (competent)    2
Name: count, dtype: int64

Q9_1
4.0    2
Name: count, dtype: int64

['ALWAYS']

ALWAYS    2
Name: count, dtype: int64

Q9_2
4.0    2
Name: count, dtype: int64

['ALWAYS']

ALWAYS    2
Name: count, dtype: int64

Q9_3
4.0    2
Name: count, dtype: int64

['ALWAYS']

ALWAYS    2
Name: count, dtype: int64

Q9_4
4.0    2
Name: count, dtype: int64

['ALWAYS']

ALWAYS    2
Name: count, dtype: int64

Q9_5
4.0    2
Name: count, dtype: int64

['ALWAYS']

ALWAYS    2
Name: count, dtype: int64

Q9_6
NaN    1
4.0    1
Name: count, dtype: int64

['Not graded', 'ALWAYS']

Not graded    1
ALWAYS        1
Name: count, dtype: int64

Q9_7
NaN    1
4.0    1
Name: count, dtype: int64

['Not graded', 'ALWAYS']

Not graded    1
ALWAYS        1
Name: count, dtype: int64

Q9_8
NaN    1
4.0    1
Name: count, dtype: int64

['Not graded', 'ALWAYS']

Not graded    1
ALWAYS        1
Name: count, dtype: int64

Q9_9
NaN    1
4.0    1
Name: count, dtype: int64

['Not graded', 'ALWAYS']

Not graded    1
ALWAYS        1
Name: count, dtype: int64

           Staff                                           Comments
1   Jaafar Abduo                                               lkjb
13     Chen Chen  Good demonstration of managing pt expectations...

Creating table for Reflect on the student's performance across the month - what are some strengths and areas you have identified for improvement.

           Staff Comments
1   Jaafar Abduo      Yes
13     Chen Chen       No

Creating table for Has a clinical incident occurred during this month while you were supervising this student?

,StartDate,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,RecipientLastName,RecipientFirstName,RecipientEmail,ExternalReference,LocationLatitude,LocationLongitude,DistributionChannel,UserLanguage,Date,Student Name,Site,Staff,Q7_1,Q7_2,Q8_1,Q8_2,Q8_3,Q8_4,Q8_5,Q8_6,Q8_7,Q8_8,Q8_9,Q8_10,Q9_1,Q9_2,Q9_3,Q9_4,Q9_5,Q9_6,Q9_7,Q9_8,Q9_9,Q10,Critical incident,CI Details,Time management,Entrustment scale,#3,#2,#1,#nan
28,2025-05-07 06:30:57,2025-05-07 06:31:26,IP Address,116.255.53.75,40,29,False,2025-05-14 06:31:30.593000,R_95XdAXEEOgQDL4N,NaN,NaN,NaN,NaN,-37.8008,144.9876,anonymous,EN,2025-05-02,Esha Zahid,Royal Dental Hospital Melbourne RDHM,Carolina Perez Rodriguez,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,12
12,2025-05-08 23:06:17,2025-05-08 23:14:15,IP Address,122.150.165.229,100,478,True,2025-05-08 23:14:16.785000,R_4nAFNwXTwk5FF03,NaN,NaN,NaN,NaN,-37.8186,145.1277,anonymous,EN,2025-05-08,Esha Zahid,Royal Dental Hospital Melbourne RDHM,Chen Chen,3.0,3.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,3.0,4.0,"Competent clinically, but has difficulty makin...",No,NaN,Lvl 2: Reaches a step (or point) in the proced...,Lvl 3: Student can be trusted to perform task ...,2,10,0,0
26,2025-05-12 14:58:38,2025-05-12 15:04:20,IP Address,1.145.158.121,100,342,True,2025-05-12 15:04:21.572000,R_9P0CPtDlZNftWjy,NaN,NaN,NaN,NaN,-37.8335,145.0012,anonymous,EN,2025-05-12,Esha Zahid,Royal Dental Hospital Melbourne RDHM,John Pearson,2.0,3.0,2.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,3.0,3.0,3.0,3.0,4.0,4.0,4.0,4.0,3.0,4.0,4.0,Over the time Esher has been in clinic there h...,No,NaN,Lvl 2: Reaches a step (or point) in the proced...,Lvl 3: Student can be trusted to perform task ...,3,7,2,0

Q7_1
NaN    1
3.0    1
2.0    1
Name: count, dtype: int64

['No basis for evaluation', 'Completed independently (competent)', 'Completed with minimal assistance']

No basis for evaluation                1
Completed independently (competent)    1
Completed with minimal assistance      1
Name: count, dtype: int64

Q7_2
3.0    2
NaN    1
Name: count, dtype: int64

['Completed independently (competent)', 'No basis for evaluation']

Completed independently (competent)    2
No basis for evaluation                1
Name: count, dtype: int64

Q8_1
2.0    2
NaN    1
Name: count, dtype: int64

['Completed with minimal assistance', 'No basis for evaluation']

Completed with minimal assistance    2
No basis for evaluation              1
Name: count, dtype: int64

Q8_2
2.0    2
NaN    1
Name: count, dtype: int64

['Completed with minimal assistance', 'No basis for evaluation']

Completed with minimal assistance    2
No basis for evaluation              1
Name: count, dtype: int64

Q8_3
NaN    1
2.0    1
1.0    1
Name: count, dtype: int64

['No basis for evaluation', 'Completed with minimal assistance', 'Completed with substantial assistance']

No basis for evaluation                  1
Completed with minimal assistance        1
Completed with substantial assistance    1
Name: count, dtype: int64

Q8_4
2.0    2
NaN    1
Name: count, dtype: int64

['Completed with minimal assistance', 'No basis for evaluation']

Completed with minimal assistance    2
No basis for evaluation              1
Name: count, dtype: int64

Q8_5
2.0    2
NaN    1
Name: count, dtype: int64

['Completed with minimal assistance', 'No basis for evaluation']

Completed with minimal assistance    2
No basis for evaluation              1
Name: count, dtype: int64

Q8_6
NaN    1
2.0    1
1.0    1
Name: count, dtype: int64

['No basis for evaluation', 'Completed with minimal assistance', 'Completed with substantial assistance']

No basis for evaluation                  1
Completed with minimal assistance        1
Completed with substantial assistance    1
Name: count, dtype: int64

Q8_7
2.0    2
NaN    1
Name: count, dtype: int64

['Completed with minimal assistance', 'No basis for evaluation']

Completed with minimal assistance    2
No basis for evaluation              1
Name: count, dtype: int64

Q8_8
2.0    2
NaN    1
Name: count, dtype: int64

['Completed with minimal assistance', 'No basis for evaluation']

Completed with minimal assistance    2
No basis for evaluation              1
Name: count, dtype: int64

Q8_9
NaN    1
2.0    1
3.0    1
Name: count, dtype: int64

['No basis for evaluation', 'Completed with minimal assistance', 'Completed independently (competent)']

No basis for evaluation                1
Completed with minimal assistance      1
Completed independently (competent)    1
Name: count, dtype: int64

Q8_10
NaN    1
2.0    1
3.0    1
Name: count, dtype: int64

['No basis for evaluation', 'Completed with minimal assistance', 'Completed independently (competent)']

No basis for evaluation                1
Completed with minimal assistance      1
Completed independently (competent)    1
Name: count, dtype: int64

Q9_1
NaN    1
4.0    1
3.0    1
Name: count, dtype: int64

['Not graded', 'ALWAYS', 'OFTEN']

Not graded    1
ALWAYS        1
OFTEN         1
Name: count, dtype: int64

Q9_2
NaN    1
4.0    1
3.0    1
Name: count, dtype: int64

['Not graded', 'ALWAYS', 'OFTEN']

Not graded    1
ALWAYS        1
OFTEN         1
Name: count, dtype: int64

Q9_3
4.0    2
NaN    1
Name: count, dtype: int64

['ALWAYS', 'Not graded']

ALWAYS        2
Not graded    1
Name: count, dtype: int64

Q9_4
4.0    2
NaN    1
Name: count, dtype: int64

['ALWAYS', 'Not graded']

ALWAYS        2
Not graded    1
Name: count, dtype: int64

Q9_5
4.0    2
NaN    1
Name: count, dtype: int64

['ALWAYS', 'Not graded']

ALWAYS        2
Not graded    1
Name: count, dtype: int64

Q9_6
4.0    2
NaN    1
Name: count, dtype: int64

['ALWAYS', 'Not graded']

ALWAYS        2
Not graded    1
Name: count, dtype: int64

Q9_7
NaN    1
4.0    1
3.0    1
Name: count, dtype: int64

['Not graded', 'ALWAYS', 'OFTEN']

Not graded    1
ALWAYS        1
OFTEN         1
Name: count, dtype: int64

Q9_8
NaN    1
3.0    1
4.0    1
Name: count, dtype: int64

['Not graded', 'OFTEN', 'ALWAYS']

Not graded    1
OFTEN         1
ALWAYS        1
Name: count, dtype: int64

Q9_9
4.0    2
NaN    1
Name: count, dtype: int64

['ALWAYS', 'Not graded']

ALWAYS        2
Not graded    1
Name: count, dtype: int64

           Staff                                           Comments
12     Chen Chen  Competent clinically, but has difficulty makin...
26  John Pearson  Over the time Esher has been in clinic there h...

Creating table for Reflect on the student's performance across the month - what are some strengths and areas you have identified for improvement.

           Staff Comments
12     Chen Chen       No
26  John Pearson       No

Creating table for Has a clinical incident occurred during this month while you were supervising this student?

,StartDate,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,RecipientLastName,RecipientFirstName,RecipientEmail,ExternalReference,LocationLatitude,LocationLongitude,DistributionChannel,UserLanguage,Date,Student Name,Site,Staff,Q7_1,Q7_2,Q8_1,Q8_2,Q8_3,Q8_4,Q8_5,Q8_6,Q8_7,Q8_8,Q8_9,Q8_10,Q9_1,Q9_2,Q9_3,Q9_4,Q9_5,Q9_6,Q9_7,Q9_8,Q9_9,Q10,Critical incident,CI Details,Time management,Entrustment scale,#3,#2,#1,#nan
2,2025-03-20 13:45:05,2025-03-20 13:45:29,IP Address,61.69.124.49,38,23,False,2025-03-27 13:45:31.887000,R_9dhTC2Qu3zaybr5,NaN,NaN,NaN,NaN,-37.8024,144.9659,anonymous,EN,2025-03-20,Hamza Al Salieti,Melbourne Dental Clinic,Jaafar Abduo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,12
4,2025-03-25 15:07:05,2025-03-25 15:08:30,IP Address,128.250.0.18,75,84,False,2025-04-01 15:08:38.924000,R_4KNr8ecPgIBE6NO,NaN,NaN,NaN,NaN,-37.8024,144.9659,anonymous,EN,2025-03-25,Hamza Al Salieti,Melbourne Dental Clinic,Jaafar Abduo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,wdqwfwF,No,NaN,NaN,NaN,0,0,0,12
6,2025-04-02 12:42:05,2025-04-02 12:43:21,IP Address,128.250.0.103,75,75,False,2025-04-09 11:43:26.257000,R_9eaDSBZhqChJxno,NaN,NaN,NaN,NaN,-37.8024,144.9659,anonymous,EN,2025-04-02,Hamza Al Salieti,Melbourne Dental Clinic,Jaafar Abduo,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,4.0,4.0,4.0,4.0,4.0,NaN,NaN,NaN,NaN,wfwf,No,NaN,NaN,NaN,12,0,0,0
7,2025-05-08 20:20:56,2025-05-08 20:28:52,IP Address,122.150.165.11,100,475,True,2025-05-08 20:28:53.667000,R_4YEXy5khDwiqqw0,NaN,NaN,NaN,NaN,-37.8186,145.1277,anonymous,EN,2025-05-08,Hamza Al Salieti,Royal Dental Hospital Melbourne RDHM,Chen Chen,1.0,1.0,2.0,2.0,1.0,1.0,1.0,1.0,NaN,1.0,2.0,1.0,3.0,4.0,4.0,4.0,4.0,4.0,2.0,4.0,4.0,Minimal clinical time as yet. \nHas shown some...,No,NaN,Lvl 3: Completes clinical procedures in alloca...,Lvl 2: Student can be trusted to perform task ...,0,3,8,1
15,2025-05-09 13:42:19,2025-05-09 13:47:40,IP Address,128.250.0.112,100,321,True,2025-05-09 13:47:41.581000,R_4WNlzHfK0dkK4nE,NaN,NaN,NaN,NaN,-37.8024,144.9659,anonymous,EN,2025-05-09,Hamza Al Salieti,"Melbourne Dental Clinic,Royal Dental Hospital ...",Jaafar Abduo,3.0,3.0,3.0,3.0,2.0,2.0,NaN,2.0,NaN,2.0,NaN,2.0,3.0,4.0,4.0,4.0,4.0,4.0,3.0,4.0,4.0,"Hamza started the clinic very recently, due to...",No,NaN,Lvl 3: Completes clinical procedures in alloca...,Lvl 3: Student can be trusted to perform task ...,4,5,0,3

Q7_1
NaN    2
3.0    2
1.0    1
Name: count, dtype: int64

['No basis for evaluation', 'Completed independently (competent)', 'Completed with substantial assistance']

No basis for evaluation                  2
Completed independently (competent)      2
Completed with substantial assistance    1
Name: count, dtype: int64

Q7_2
NaN    2
3.0    2
1.0    1
Name: count, dtype: int64

['No basis for evaluation', 'Completed independently (competent)', 'Completed with substantial assistance']

No basis for evaluation                  2
Completed independently (competent)      2
Completed with substantial assistance    1
Name: count, dtype: int64

Q8_1
NaN    2
3.0    2
2.0    1
Name: count, dtype: int64

['No basis for evaluation', 'Completed independently (competent)', 'Completed with minimal assistance']

No basis for evaluation                2
Completed independently (competent)    2
Completed with minimal assistance      1
Name: count, dtype: int64

Q8_2
NaN    2
3.0    2
2.0    1
Name: count, dtype: int64

['No basis for evaluation', 'Completed independently (competent)', 'Completed with minimal assistance']

No basis for evaluation                2
Completed independently (competent)    2
Completed with minimal assistance      1
Name: count, dtype: int64

Q8_3
NaN    2
3.0    1
1.0    1
2.0    1
Name: count, dtype: int64

['No basis for evaluation', 'Completed independently (competent)', 'Completed with substantial assistance', 'Completed with minimal assistance']

No basis for evaluation                  2
Completed independently (competent)      1
Completed with substantial assistance    1
Completed with minimal assistance        1
Name: count, dtype: int64

Q8_4
NaN    2
3.0    1
1.0    1
2.0    1
Name: count, dtype: int64

['No basis for evaluation', 'Completed independently (competent)', 'Completed with substantial assistance', 'Completed with minimal assistance']

No basis for evaluation                  2
Completed independently (competent)      1
Completed with substantial assistance    1
Completed with minimal assistance        1
Name: count, dtype: int64

Q8_5
NaN    3
3.0    1
1.0    1
Name: count, dtype: int64

['No basis for evaluation', 'Completed independently (competent)', 'Completed with substantial assistance']

No basis for evaluation                  3
Completed independently (competent)      1
Completed with substantial assistance    1
Name: count, dtype: int64

Q8_6
NaN    2
3.0    1
1.0    1
2.0    1
Name: count, dtype: int64

['No basis for evaluation', 'Completed independently (competent)', 'Completed with substantial assistance', 'Completed with minimal assistance']

No basis for evaluation                  2
Completed independently (competent)      1
Completed with substantial assistance    1
Completed with minimal assistance        1
Name: count, dtype: int64

Q8_7
NaN    4
3.0    1
Name: count, dtype: int64

['No basis for evaluation', 'Completed independently (competent)']

No basis for evaluation                4
Completed independently (competent)    1
Name: count, dtype: int64

Q8_8
NaN    2
3.0    1
1.0    1
2.0    1
Name: count, dtype: int64

['No basis for evaluation', 'Completed independently (competent)', 'Completed with substantial assistance', 'Completed with minimal assistance']

No basis for evaluation                  2
Completed independently (competent)      1
Completed with substantial assistance    1
Completed with minimal assistance        1
Name: count, dtype: int64

Q8_9
NaN    3
3.0    1
2.0    1
Name: count, dtype: int64

['No basis for evaluation', 'Completed independently (competent)', 'Completed with minimal assistance']

No basis for evaluation                3
Completed independently (competent)    1
Completed with minimal assistance      1
Name: count, dtype: int64

Q8_10
NaN    2
3.0    1
1.0    1
2.0    1
Name: count, dtype: int64

['No basis for evaluation', 'Completed independently (competent)', 'Completed with substantial assistance', 'Completed with minimal assistance']

No basis for evaluation                  2
Completed independently (competent)      1
Completed with substantial assistance    1
Completed with minimal assistance        1
Name: count, dtype: int64

Q9_1
3.0    2
NaN    1
0.0    1
4.0    1
Name: count, dtype: int64

['OFTEN', 'Not graded', 'NEVER', 'ALWAYS']

OFTEN         2
Not graded    1
NEVER         1
ALWAYS        1
Name: count, dtype: int64

Q9_2
4.0    3
NaN    1
0.0    1
Name: count, dtype: int64

['ALWAYS', 'Not graded', 'NEVER']

ALWAYS        3
Not graded    1
NEVER         1
Name: count, dtype: int64

Q9_3
4.0    3
NaN    1
0.0    1
Name: count, dtype: int64

['ALWAYS', 'Not graded', 'NEVER']

ALWAYS        3
Not graded    1
NEVER         1
Name: count, dtype: int64

Q9_4
4.0    3
NaN    1
0.0    1
Name: count, dtype: int64

['ALWAYS', 'Not graded', 'NEVER']

ALWAYS        3
Not graded    1
NEVER         1
Name: count, dtype: int64

Q9_5
4.0    3
NaN    1
0.0    1
Name: count, dtype: int64

['ALWAYS', 'Not graded', 'NEVER']

ALWAYS        3
Not graded    1
NEVER         1
Name: count, dtype: int64

Q9_6
NaN    3
4.0    2
Name: count, dtype: int64

['Not graded', 'ALWAYS']

Not graded    3
ALWAYS        2
Name: count, dtype: int64

Q9_7
NaN    3
2.0    1
3.0    1
Name: count, dtype: int64

['Not graded', 'SOMETIMES', 'OFTEN']

Not graded    3
SOMETIMES     1
OFTEN         1
Name: count, dtype: int64

Q9_8
NaN    3
4.0    2
Name: count, dtype: int64

['Not graded', 'ALWAYS']

Not graded    3
ALWAYS        2
Name: count, dtype: int64

Q9_9
NaN    3
4.0    2
Name: count, dtype: int64

['Not graded', 'ALWAYS']

Not graded    3
ALWAYS        2
Name: count, dtype: int64

           Staff                                           Comments
4   Jaafar Abduo                                            wdqwfwF
6   Jaafar Abduo                                               wfwf
7      Chen Chen  Minimal clinical time as yet. \nHas shown some...
15  Jaafar Abduo  Hamza started the clinic very recently, due to...

Creating table for Reflect on the student's performance across the month - what are some strengths and areas you have identified for improvement.

           Staff Comments
4   Jaafar Abduo       No
6   Jaafar Abduo       No
7      Chen Chen       No
15  Jaafar Abduo       No

Creating table for Has a clinical incident occurred during this month while you were supervising this student?

,StartDate,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,RecipientLastName,RecipientFirstName,RecipientEmail,ExternalReference,LocationLatitude,LocationLongitude,DistributionChannel,UserLanguage,Date,Student Name,Site,Staff,Q7_1,Q7_2,Q8_1,Q8_2,Q8_3,Q8_4,Q8_5,Q8_6,Q8_7,Q8_8,Q8_9,Q8_10,Q9_1,Q9_2,Q9_3,Q9_4,Q9_5,Q9_6,Q9_7,Q9_8,Q9_9,Q10,Critical incident,CI Details,Time management,Entrustment scale,#3,#2,#1,#nan
11,2025-05-08 22:18:40,2025-05-08 22:24:52,IP Address,122.150.165.151,100,371,True,2025-05-08 22:24:53.373000,R_4nGzovBlogdQhy3,NaN,NaN,NaN,NaN,-37.8186,145.1277,anonymous,EN,2025-05-08,Karen Liang,Royal Dental Hospital Melbourne RDHM,Chen Chen,1.0,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,3.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,"Needs help with diagnosing, treatment planning...",No,NaN,Lvl 2: Reaches a step (or point) in the proced...,Lvl 2: Student can be trusted to perform task ...,0,3,9,0
20,2025-05-09 14:02:03,2025-05-09 14:04:53,IP Address,128.250.0.112,100,169,True,2025-05-09 14:04:54.618000,R_4JelxgUcuUtobWF,NaN,NaN,NaN,NaN,-37.8024,144.9659,anonymous,EN,2025-05-09,Karen Liang,"Melbourne Dental Clinic,Royal Dental Hospital ...",Jaafar Abduo,3.0,3.0,3.0,3.0,3.0,2.0,NaN,2.0,3.0,NaN,2.0,3.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,Alex had a promising start. Still at the preli...,No,NaN,Lvl 3: Completes clinical procedures in alloca...,Lvl 3: Student can be trusted to perform task ...,7,3,0,2
21,2025-05-09 14:04:56,2025-05-09 14:06:59,IP Address,128.250.0.112,100,123,True,2025-05-09 14:07:01.204000,R_9c1adySDO2z3cJR,NaN,NaN,NaN,NaN,-37.8024,144.9659,anonymous,EN,2025-05-09,Karen Liang,"Melbourne Dental Clinic,Royal Dental Hospital ...",Jaafar Abduo,3.0,3.0,3.0,3.0,3.0,2.0,2.0,2.0,1.0,3.0,NaN,2.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,Karen had a promising start. Still very early ...,No,NaN,Lvl 3: Completes clinical procedures in alloca...,Lvl 3: Student can be trusted to perform task ...,6,4,1,1

Q7_1
3.0    2
1.0    1
Name: count, dtype: int64

['Completed independently (competent)', 'Completed with substantial assistance']

Completed independently (competent)      2
Completed with substantial assistance    1
Name: count, dtype: int64

Q7_2
3.0    2
1.0    1
Name: count, dtype: int64

['Completed independently (competent)', 'Completed with substantial assistance']

Completed independently (competent)      2
Completed with substantial assistance    1
Name: count, dtype: int64

Q8_1
3.0    2
2.0    1
Name: count, dtype: int64

['Completed independently (competent)', 'Completed with minimal assistance']

Completed independently (competent)    2
Completed with minimal assistance      1
Name: count, dtype: int64

Q8_2
3.0    2
2.0    1
Name: count, dtype: int64

['Completed independently (competent)', 'Completed with minimal assistance']

Completed independently (competent)    2
Completed with minimal assistance      1
Name: count, dtype: int64

Q8_3
3.0    2
1.0    1
Name: count, dtype: int64

['Completed independently (competent)', 'Completed with substantial assistance']

Completed independently (competent)      2
Completed with substantial assistance    1
Name: count, dtype: int64

Q8_4
2.0    2
1.0    1
Name: count, dtype: int64

['Completed with minimal assistance', 'Completed with substantial assistance']

Completed with minimal assistance        2
Completed with substantial assistance    1
Name: count, dtype: int64

Q8_5
1.0    1
NaN    1
2.0    1
Name: count, dtype: int64

['Completed with substantial assistance', 'No basis for evaluation', 'Completed with minimal assistance']

Completed with substantial assistance    1
No basis for evaluation                  1
Completed with minimal assistance        1
Name: count, dtype: int64

Q8_6
2.0    2
1.0    1
Name: count, dtype: int64

['Completed with minimal assistance', 'Completed with substantial assistance']

Completed with minimal assistance        2
Completed with substantial assistance    1
Name: count, dtype: int64

Q8_7
1.0    2
3.0    1
Name: count, dtype: int64

['Completed with substantial assistance', 'Completed independently (competent)']

Completed with substantial assistance    2
Completed independently (competent)      1
Name: count, dtype: int64

Q8_8
2.0    1
NaN    1
3.0    1
Name: count, dtype: int64

['Completed with minimal assistance', 'No basis for evaluation', 'Completed independently (competent)']

Completed with minimal assistance      1
No basis for evaluation                1
Completed independently (competent)    1
Name: count, dtype: int64

Q8_9
1.0    1
2.0    1
NaN    1
Name: count, dtype: int64

['Completed with substantial assistance', 'Completed with minimal assistance', 'No basis for evaluation']

Completed with substantial assistance    1
Completed with minimal assistance        1
No basis for evaluation                  1
Name: count, dtype: int64

Q8_10
1.0    1
3.0    1
2.0    1
Name: count, dtype: int64

['Completed with substantial assistance', 'Completed independently (competent)', 'Completed with minimal assistance']

Completed with substantial assistance    1
Completed independently (competent)      1
Completed with minimal assistance        1
Name: count, dtype: int64

Q9_1
4.0    2
3.0    1
Name: count, dtype: int64

['ALWAYS', 'OFTEN']

ALWAYS    2
OFTEN     1
Name: count, dtype: int64

Q9_2
4.0    3
Name: count, dtype: int64

['ALWAYS']

ALWAYS    3
Name: count, dtype: int64

Q9_3
4.0    3
Name: count, dtype: int64

['ALWAYS']

ALWAYS    3
Name: count, dtype: int64

Q9_4
4.0    3
Name: count, dtype: int64

['ALWAYS']

ALWAYS    3
Name: count, dtype: int64

Q9_5
4.0    3
Name: count, dtype: int64

['ALWAYS']

ALWAYS    3
Name: count, dtype: int64

Q9_6
4.0    3
Name: count, dtype: int64

['ALWAYS']

ALWAYS    3
Name: count, dtype: int64

Q9_7
4.0    3
Name: count, dtype: int64

['ALWAYS']

ALWAYS    3
Name: count, dtype: int64

Q9_8
4.0    3
Name: count, dtype: int64

['ALWAYS']

ALWAYS    3
Name: count, dtype: int64

Q9_9
4.0    3
Name: count, dtype: int64

['ALWAYS']

ALWAYS    3
Name: count, dtype: int64

           Staff                                           Comments
11     Chen Chen  Needs help with diagnosing, treatment planning...
20  Jaafar Abduo  Alex had a promising start. Still at the preli...
21  Jaafar Abduo  Karen had a promising start. Still very early ...

Creating table for Reflect on the student's performance across the month - what are some strengths and areas you have identified for improvement.

           Staff Comments
11     Chen Chen       No
20  Jaafar Abduo       No
21  Jaafar Abduo       No

Creating table for Has a clinical incident occurred during this month while you were supervising this student?

,StartDate,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,RecipientLastName,RecipientFirstName,RecipientEmail,ExternalReference,LocationLatitude,LocationLongitude,DistributionChannel,UserLanguage,Date,Student Name,Site,Staff,Q7_1,Q7_2,Q8_1,Q8_2,Q8_3,Q8_4,Q8_5,Q8_6,Q8_7,Q8_8,Q8_9,Q8_10,Q9_1,Q9_2,Q9_3,Q9_4,Q9_5,Q9_6,Q9_7,Q9_8,Q9_9,Q10,Critical incident,CI Details,Time management,Entrustment scale,#3,#2,#1,#nan
5,2025-03-31 11:34:54,2025-03-31 11:41:08,IP Address,1.145.208.162,38,374,False,2025-04-07 10:41:10.913000,R_91XzKswB6klU58b,NaN,NaN,NaN,NaN,-37.8159,144.9669,anonymous,EN,2025-03-31,Mark Teo,Royal Dental Hospital Melbourne RDHM,John Pearson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,12
9,2025-05-08 21:41:39,2025-05-08 21:56:23,IP Address,122.150.165.11,100,883,True,2025-05-08 21:56:24.511000,R_9LRI4Ox7U3vUzdW,NaN,NaN,NaN,NaN,-37.8186,145.1277,anonymous,EN,2025-05-08,Mark Teo,Royal Dental Hospital Melbourne RDHM,Chen Chen,3.0,3.0,3.0,3.0,3.0,2.0,3.0,3.0,3.0,3.0,3.0,3.0,4.0,4.0,3.0,4.0,4.0,4.0,4.0,4.0,4.0,Confident clinically and generally does well w...,No,NaN,Lvl 4: Manages time to complete simulation or ...,Lvl 4: Student can be trusted to perform this ...,11,1,0,0
17,2025-05-09 13:50:06,2025-05-09 13:53:58,IP Address,128.250.0.112,100,231,True,2025-05-09 13:53:59.631000,R_9zam0zPsboyUaCl,NaN,NaN,NaN,NaN,-37.8024,144.9659,anonymous,EN,2025-05-09,Mark Teo,"Melbourne Dental Clinic,Royal Dental Hospital ...",Jaafar Abduo,3.0,3.0,3.0,2.0,3.0,3.0,3.0,2.0,2.0,3.0,3.0,2.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,Esha is progressing well. Had some challenging...,No,NaN,Lvl 4: Manages time to complete simulation or ...,Lvl 4: Student can be trusted to perform this ...,8,4,0,0
19,2025-05-09 13:59:51,2025-05-09 14:02:00,IP Address,128.250.0.112,100,129,True,2025-05-09 14:02:02.036000,R_4q9zEt7Jf05fg7p,NaN,NaN,NaN,NaN,-37.8024,144.9659,anonymous,EN,2025-05-09,Mark Teo,"Melbourne Dental Clinic,Royal Dental Hospital ...",Jaafar Abduo,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,2.0,3.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,Mark is progressing well within his final year.,No,NaN,Lvl 4: Manages time to complete simulation or ...,Lvl 4: Student can be trusted to perform this ...,11,1,0,0
24,2025-05-12 14:43:39,2025-05-12 14:51:28,IP Address,1.145.158.121,100,468,True,2025-05-12 14:51:29.513000,R_4yFfehisGVslOX7,NaN,NaN,NaN,NaN,-37.8335,145.0012,anonymous,EN,2025-05-12,Mark Teo,Royal Dental Hospital Melbourne RDHM,John Pearson,3.0,3.0,2.0,2.0,2.0,3.0,3.0,2.0,3.0,2.0,3.0,2.0,4.0,2.0,3.0,4.0,4.0,4.0,3.0,3.0,3.0,Communication with patients is for treatment p...,No,NaN,Lvl 2: Reaches a step (or point) in the proced...,Lvl 4: Student can be trusted to perform this ...,6,6,0,0

Q7_1
3.0    4
NaN    1
Name: count, dtype: int64

['Completed independently (competent)', 'No basis for evaluation']

Completed independently (competent)    4
No basis for evaluation                1
Name: count, dtype: int64

Q7_2
3.0    4
NaN    1
Name: count, dtype: int64

['Completed independently (competent)', 'No basis for evaluation']

Completed independently (competent)    4
No basis for evaluation                1
Name: count, dtype: int64

Q8_1
3.0    3
NaN    1
2.0    1
Name: count, dtype: int64

['Completed independently (competent)', 'No basis for evaluation', 'Completed with minimal assistance']

Completed independently (competent)    3
No basis for evaluation                1
Completed with minimal assistance      1
Name: count, dtype: int64

Q8_2
3.0    2
2.0    2
NaN    1
Name: count, dtype: int64

['Completed independently (competent)', 'Completed with minimal assistance', 'No basis for evaluation']

Completed independently (competent)    2
Completed with minimal assistance      2
No basis for evaluation                1
Name: count, dtype: int64

Q8_3
3.0    3
NaN    1
2.0    1
Name: count, dtype: int64

['Completed independently (competent)', 'No basis for evaluation', 'Completed with minimal assistance']

Completed independently (competent)    3
No basis for evaluation                1
Completed with minimal assistance      1
Name: count, dtype: int64

Q8_4
3.0    3
NaN    1
2.0    1
Name: count, dtype: int64

['Completed independently (competent)', 'No basis for evaluation', 'Completed with minimal assistance']

Completed independently (competent)    3
No basis for evaluation                1
Completed with minimal assistance      1
Name: count, dtype: int64

Q8_5
3.0    4
NaN    1
Name: count, dtype: int64

['Completed independently (competent)', 'No basis for evaluation']

Completed independently (competent)    4
No basis for evaluation                1
Name: count, dtype: int64

Q8_6
3.0    2
2.0    2
NaN    1
Name: count, dtype: int64

['Completed independently (competent)', 'Completed with minimal assistance', 'No basis for evaluation']

Completed independently (competent)    2
Completed with minimal assistance      2
No basis for evaluation                1
Name: count, dtype: int64

Q8_7
3.0    3
NaN    1
2.0    1
Name: count, dtype: int64

['Completed independently (competent)', 'No basis for evaluation', 'Completed with minimal assistance']

Completed independently (competent)    3
No basis for evaluation                1
Completed with minimal assistance      1
Name: count, dtype: int64

Q8_8
3.0    3
NaN    1
2.0    1
Name: count, dtype: int64

['Completed independently (competent)', 'No basis for evaluation', 'Completed with minimal assistance']

Completed independently (competent)    3
No basis for evaluation                1
Completed with minimal assistance      1
Name: count, dtype: int64

Q8_9
3.0    3
NaN    1
2.0    1
Name: count, dtype: int64

['Completed independently (competent)', 'No basis for evaluation', 'Completed with minimal assistance']

Completed independently (competent)    3
No basis for evaluation                1
Completed with minimal assistance      1
Name: count, dtype: int64

Q8_10
3.0    2
2.0    2
NaN    1
Name: count, dtype: int64

['Completed independently (competent)', 'Completed with minimal assistance', 'No basis for evaluation']

Completed independently (competent)    2
Completed with minimal assistance      2
No basis for evaluation                1
Name: count, dtype: int64

Q9_1
4.0    4
NaN    1
Name: count, dtype: int64

['ALWAYS', 'Not graded']

ALWAYS        4
Not graded    1
Name: count, dtype: int64

Q9_2
4.0    3
NaN    1
2.0    1
Name: count, dtype: int64

['ALWAYS', 'Not graded', 'SOMETIMES']

ALWAYS        3
Not graded    1
SOMETIMES     1
Name: count, dtype: int64

Q9_3
3.0    2
4.0    2
NaN    1
Name: count, dtype: int64

['OFTEN', 'ALWAYS', 'Not graded']

OFTEN         2
ALWAYS        2
Not graded    1
Name: count, dtype: int64

Q9_4
4.0    4
NaN    1
Name: count, dtype: int64

['ALWAYS', 'Not graded']

ALWAYS        4
Not graded    1
Name: count, dtype: int64

Q9_5
4.0    4
NaN    1
Name: count, dtype: int64

['ALWAYS', 'Not graded']

ALWAYS        4
Not graded    1
Name: count, dtype: int64

Q9_6
4.0    4
NaN    1
Name: count, dtype: int64

['ALWAYS', 'Not graded']

ALWAYS        4
Not graded    1
Name: count, dtype: int64

Q9_7
4.0    3
NaN    1
3.0    1
Name: count, dtype: int64

['ALWAYS', 'Not graded', 'OFTEN']

ALWAYS        3
Not graded    1
OFTEN         1
Name: count, dtype: int64

Q9_8
4.0    3
NaN    1
3.0    1
Name: count, dtype: int64

['ALWAYS', 'Not graded', 'OFTEN']

ALWAYS        3
Not graded    1
OFTEN         1
Name: count, dtype: int64

Q9_9
4.0    3
NaN    1
3.0    1
Name: count, dtype: int64

['ALWAYS', 'Not graded', 'OFTEN']

ALWAYS        3
Not graded    1
OFTEN         1
Name: count, dtype: int64

           Staff                                           Comments
9      Chen Chen  Confident clinically and generally does well w...
17  Jaafar Abduo  Esha is progressing well. Had some challenging...
19  Jaafar Abduo    Mark is progressing well within his final year.
24  John Pearson  Communication with patients is for treatment p...

Creating table for Reflect on the student's performance across the month - what are some strengths and areas you have identified for improvement.

           Staff Comments
9      Chen Chen       No
17  Jaafar Abduo       No
19  Jaafar Abduo       No
24  John Pearson       No

Creating table for Has a clinical incident occurred during this month while you were supervising this student?

,StartDate,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,RecipientLastName,RecipientFirstName,RecipientEmail,ExternalReference,LocationLatitude,LocationLongitude,DistributionChannel,UserLanguage,Date,Student Name,Site,Staff,Q7_1,Q7_2,Q8_1,Q8_2,Q8_3,Q8_4,Q8_5,Q8_6,Q8_7,Q8_8,Q8_9,Q8_10,Q9_1,Q9_2,Q9_3,Q9_4,Q9_5,Q9_6,Q9_7,Q9_8,Q9_9,Q10,Critical incident,CI Details,Time management,Entrustment scale,#3,#2,#1,#nan
3,2025-03-20 18:16:10,2025-03-20 18:16:29,IP Address,49.183.36.8,38,18,False,2025-03-27 18:16:34.451000,R_4LdLxwXmPqbqFLA,NaN,NaN,NaN,NaN,-37.8159,144.9669,anonymous,EN,2025-03-20,Omar Bahakam,Royal Dental Hospital Melbourne RDHM,Jaafar Abduo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,12
10,2025-05-08 21:56:30,2025-05-08 22:18:32,IP Address,122.150.165.151,100,1322,True,2025-05-08 22:18:33.318000,R_4abJY3mGC2eaQsF,NaN,NaN,NaN,NaN,-37.8186,145.1277,anonymous,EN,2025-05-08,Omar Bahakam,Royal Dental Hospital Melbourne RDHM,Chen Chen,1.0,1.0,2.0,2.0,1.0,1.0,2.0,1.0,1.0,1.0,2.0,1.0,2.0,3.0,4.0,3.0,3.0,3.0,2.0,2.0,4.0,"Clinical skills lacking, and is not always awa...",No,NaN,Lvl 2: Reaches a step (or point) in the proced...,Lvl 2: Student can be trusted to perform task ...,0,4,8,0
18,2025-05-09 13:54:01,2025-05-09 13:59:48,IP Address,128.250.0.112,100,346,True,2025-05-09 13:59:49.197000,R_4lYKKFfKJA3tmvw,NaN,NaN,NaN,NaN,-37.8024,144.9659,anonymous,EN,2025-05-09,Omar Bahakam,"Melbourne Dental Clinic,Royal Dental Hospital ...",Jaafar Abduo,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,1.0,1.0,3.0,4.0,3.0,3.0,3.0,4.0,3.0,3.0,4.0,Omar is improving from last year. Still strugg...,No,NaN,Lvl 2: Reaches a step (or point) in the proced...,Lvl 2: Student can be trusted to perform task ...,0,9,3,0
25,2025-05-12 14:51:44,2025-05-12 14:58:09,IP Address,1.145.158.121,100,384,True,2025-05-12 14:58:11.099000,R_4QKC03n47DIWWSB,NaN,NaN,NaN,NaN,-37.8335,145.0012,anonymous,EN,2025-05-12,Omar Bahakam,Royal Dental Hospital Melbourne RDHM,John Pearson,2.0,2.0,2.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,3.0,3.0,3.0,3.0,Happily there seems to be an improvement in qu...,No,NaN,Lvl 1: Work not completed in allocated timeframe.,Lvl 2: Student can be trusted to perform task ...,0,6,6,0

Q7_1
2.0    2
NaN    1
1.0    1
Name: count, dtype: int64

['Completed with minimal assistance', 'No basis for evaluation', 'Completed with substantial assistance']

Completed with minimal assistance        2
No basis for evaluation                  1
Completed with substantial assistance    1
Name: count, dtype: int64

Q7_2
2.0    2
NaN    1
1.0    1
Name: count, dtype: int64

['Completed with minimal assistance', 'No basis for evaluation', 'Completed with substantial assistance']

Completed with minimal assistance        2
No basis for evaluation                  1
Completed with substantial assistance    1
Name: count, dtype: int64

Q8_1
2.0    3
NaN    1
Name: count, dtype: int64

['Completed with minimal assistance', 'No basis for evaluation']

Completed with minimal assistance    3
No basis for evaluation              1
Name: count, dtype: int64

Q8_2
2.0    2
NaN    1
1.0    1
Name: count, dtype: int64

['Completed with minimal assistance', 'No basis for evaluation', 'Completed with substantial assistance']

Completed with minimal assistance        2
No basis for evaluation                  1
Completed with substantial assistance    1
Name: count, dtype: int64

Q8_3
1.0    2
NaN    1
2.0    1
Name: count, dtype: int64

['Completed with substantial assistance', 'No basis for evaluation', 'Completed with minimal assistance']

Completed with substantial assistance    2
No basis for evaluation                  1
Completed with minimal assistance        1
Name: count, dtype: int64

Q8_4
2.0    2
NaN    1
1.0    1
Name: count, dtype: int64

['Completed with minimal assistance', 'No basis for evaluation', 'Completed with substantial assistance']

Completed with minimal assistance        2
No basis for evaluation                  1
Completed with substantial assistance    1
Name: count, dtype: int64

Q8_5
2.0    2
NaN    1
1.0    1
Name: count, dtype: int64

['Completed with minimal assistance', 'No basis for evaluation', 'Completed with substantial assistance']

Completed with minimal assistance        2
No basis for evaluation                  1
Completed with substantial assistance    1
Name: count, dtype: int64

Q8_6
1.0    3
NaN    1
Name: count, dtype: int64

['Completed with substantial assistance', 'No basis for evaluation']

Completed with substantial assistance    3
No basis for evaluation                  1
Name: count, dtype: int64

Q8_7
1.0    2
NaN    1
2.0    1
Name: count, dtype: int64

['Completed with substantial assistance', 'No basis for evaluation', 'Completed with minimal assistance']

Completed with substantial assistance    2
No basis for evaluation                  1
Completed with minimal assistance        1
Name: count, dtype: int64

Q8_8
1.0    2
NaN    1
2.0    1
Name: count, dtype: int64

['Completed with substantial assistance', 'No basis for evaluation', 'Completed with minimal assistance']

Completed with substantial assistance    2
No basis for evaluation                  1
Completed with minimal assistance        1
Name: count, dtype: int64

Q8_9
2.0    2
NaN    1
1.0    1
Name: count, dtype: int64

['Completed with minimal assistance', 'No basis for evaluation', 'Completed with substantial assistance']

Completed with minimal assistance        2
No basis for evaluation                  1
Completed with substantial assistance    1
Name: count, dtype: int64

Q8_10
1.0    2
NaN    1
2.0    1
Name: count, dtype: int64

['Completed with substantial assistance', 'No basis for evaluation', 'Completed with minimal assistance']

Completed with substantial assistance    2
No basis for evaluation                  1
Completed with minimal assistance        1
Name: count, dtype: int64

Q9_1
2.0    2
NaN    1
3.0    1
Name: count, dtype: int64

['SOMETIMES', 'Not graded', 'OFTEN']

SOMETIMES     2
Not graded    1
OFTEN         1
Name: count, dtype: int64

Q9_2
NaN    1
3.0    1
4.0    1
2.0    1
Name: count, dtype: int64

['Not graded', 'OFTEN', 'ALWAYS', 'SOMETIMES']

Not graded    1
OFTEN         1
ALWAYS        1
SOMETIMES     1
Name: count, dtype: int64

Q9_3
NaN    1
4.0    1
3.0    1
2.0    1
Name: count, dtype: int64

['Not graded', 'ALWAYS', 'OFTEN', 'SOMETIMES']

Not graded    1
ALWAYS        1
OFTEN         1
SOMETIMES     1
Name: count, dtype: int64

Q9_4
3.0    2
NaN    1
2.0    1
Name: count, dtype: int64

['OFTEN', 'Not graded', 'SOMETIMES']

OFTEN         2
Not graded    1
SOMETIMES     1
Name: count, dtype: int64

Q9_5
3.0    2
NaN    1
2.0    1
Name: count, dtype: int64

['OFTEN', 'Not graded', 'SOMETIMES']

OFTEN         2
Not graded    1
SOMETIMES     1
Name: count, dtype: int64

Q9_6
3.0    2
NaN    1
4.0    1
Name: count, dtype: int64

['OFTEN', 'Not graded', 'ALWAYS']

OFTEN         2
Not graded    1
ALWAYS        1
Name: count, dtype: int64

Q9_7
3.0    2
NaN    1
2.0    1
Name: count, dtype: int64

['OFTEN', 'Not graded', 'SOMETIMES']

OFTEN         2
Not graded    1
SOMETIMES     1
Name: count, dtype: int64

Q9_8
3.0    2
NaN    1
2.0    1
Name: count, dtype: int64

['OFTEN', 'Not graded', 'SOMETIMES']

OFTEN         2
Not graded    1
SOMETIMES     1
Name: count, dtype: int64

Q9_9
4.0    2
NaN    1
3.0    1
Name: count, dtype: int64

['ALWAYS', 'Not graded', 'OFTEN']

ALWAYS        2
Not graded    1
OFTEN         1
Name: count, dtype: int64

           Staff                                           Comments
10     Chen Chen  Clinical skills lacking, and is not always awa...
18  Jaafar Abduo  Omar is improving from last year. Still strugg...
25  John Pearson  Happily there seems to be an improvement in qu...

Creating table for Reflect on the student's performance across the month - what are some strengths and areas you have identified for improvement.

           Staff Comments
10     Chen Chen       No
18  Jaafar Abduo       No
25  John Pearson       No

Creating table for Has a clinical incident occurred during this month while you were supervising this student?

,StartDate,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,RecipientLastName,RecipientFirstName,RecipientEmail,ExternalReference,LocationLatitude,LocationLongitude,DistributionChannel,UserLanguage,Date,Student Name,Site,Staff,Q7_1,Q7_2,Q8_1,Q8_2,Q8_3,Q8_4,Q8_5,Q8_6,Q8_7,Q8_8,Q8_9,Q8_10,Q9_1,Q9_2,Q9_3,Q9_4,Q9_5,Q9_6,Q9_7,Q9_8,Q9_9,Q10,Critical incident,CI Details,Time management,Entrustment scale,#3,#2,#1,#nan
8,2025-05-08 20:29:00,2025-05-08 21:09:56,IP Address,122.150.165.229,100,2456,True,2025-05-08 21:09:57.800000,R_9Pu5H7YAGN2TNIo,NaN,NaN,NaN,NaN,-37.8186,145.1277,anonymous,EN,2025-05-08,Phillip Ho,Royal Dental Hospital Melbourne RDHM,Chen Chen,3.0,3.0,3.0,3.0,3.0,2.0,2.0,2.0,3.0,3.0,3.0,3.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,"Strengths: attention to detail, clinical skill...",No,NaN,Lvl 4: Manages time to complete simulation or ...,Lvl 4: Student can be trusted to perform this ...,9,3,0,0
16,2025-05-09 13:47:46,2025-05-09 13:50:04,IP Address,128.250.0.112,100,138,True,2025-05-09 13:50:05.950000,R_4mOgxolCgZjGIrs,NaN,NaN,NaN,NaN,-37.8024,144.9659,anonymous,EN,2025-05-09,Phillip Ho,"Melbourne Dental Clinic,Royal Dental Hospital ...",Jaafar Abduo,2.0,3.0,3.0,3.0,3.0,2.0,3.0,2.0,3.0,3.0,3.0,2.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,Very good learning attitude,No,NaN,Lvl 4: Manages time to complete simulation or ...,Lvl 4: Student can be trusted to perform this ...,8,4,0,0
23,2025-05-12 14:35:20,2025-05-12 14:42:51,IP Address,1.145.158.121,100,450,True,2025-05-12 14:42:53.080000,R_4TC7xVl73ucpgdQ,NaN,NaN,NaN,NaN,-37.8335,145.0012,anonymous,EN,2025-05-12,Phillip Ho,Royal Dental Hospital Melbourne RDHM,John Pearson,2.0,3.0,3.0,3.0,2.0,2.0,2.0,2.0,2.0,3.0,3.0,2.0,3.0,3.0,2.0,3.0,4.0,4.0,3.0,4.0,4.0,I have no real concerns regarding this student...,No,NaN,Lvl 2: Reaches a step (or point) in the proced...,Lvl 3: Student can be trusted to perform task ...,5,7,0,0

Q7_1
2.0    2
3.0    1
Name: count, dtype: int64

['Completed with minimal assistance', 'Completed independently (competent)']

Completed with minimal assistance      2
Completed independently (competent)    1
Name: count, dtype: int64

Q7_2
3.0    3
Name: count, dtype: int64

['Completed independently (competent)']

Completed independently (competent)    3
Name: count, dtype: int64

Q8_1
3.0    3
Name: count, dtype: int64

['Completed independently (competent)']

Completed independently (competent)    3
Name: count, dtype: int64

Q8_2
3.0    3
Name: count, dtype: int64

['Completed independently (competent)']

Completed independently (competent)    3
Name: count, dtype: int64

Q8_3
3.0    2
2.0    1
Name: count, dtype: int64

['Completed independently (competent)', 'Completed with minimal assistance']

Completed independently (competent)    2
Completed with minimal assistance      1
Name: count, dtype: int64

Q8_4
2.0    3
Name: count, dtype: int64

['Completed with minimal assistance']

Completed with minimal assistance    3
Name: count, dtype: int64

Q8_5
2.0    2
3.0    1
Name: count, dtype: int64

['Completed with minimal assistance', 'Completed independently (competent)']

Completed with minimal assistance      2
Completed independently (competent)    1
Name: count, dtype: int64

Q8_6
2.0    3
Name: count, dtype: int64

['Completed with minimal assistance']

Completed with minimal assistance    3
Name: count, dtype: int64

Q8_7
3.0    2
2.0    1
Name: count, dtype: int64

['Completed independently (competent)', 'Completed with minimal assistance']

Completed independently (competent)    2
Completed with minimal assistance      1
Name: count, dtype: int64

Q8_8
3.0    3
Name: count, dtype: int64

['Completed independently (competent)']

Completed independently (competent)    3
Name: count, dtype: int64

Q8_9
3.0    3
Name: count, dtype: int64

['Completed independently (competent)']

Completed independently (competent)    3
Name: count, dtype: int64

Q8_10
2.0    2
3.0    1
Name: count, dtype: int64

['Completed with minimal assistance', 'Completed independently (competent)']

Completed with minimal assistance      2
Completed independently (competent)    1
Name: count, dtype: int64

Q9_1
4.0    2
3.0    1
Name: count, dtype: int64

['ALWAYS', 'OFTEN']

ALWAYS    2
OFTEN     1
Name: count, dtype: int64

Q9_2
4.0    2
3.0    1
Name: count, dtype: int64

['ALWAYS', 'OFTEN']

ALWAYS    2
OFTEN     1
Name: count, dtype: int64

Q9_3
4.0    2
2.0    1
Name: count, dtype: int64

['ALWAYS', 'SOMETIMES']

ALWAYS       2
SOMETIMES    1
Name: count, dtype: int64

Q9_4
4.0    2
3.0    1
Name: count, dtype: int64

['ALWAYS', 'OFTEN']

ALWAYS    2
OFTEN     1
Name: count, dtype: int64

Q9_5
4.0    3
Name: count, dtype: int64

['ALWAYS']

ALWAYS    3
Name: count, dtype: int64

Q9_6
4.0    3
Name: count, dtype: int64

['ALWAYS']

ALWAYS    3
Name: count, dtype: int64

Q9_7
4.0    2
3.0    1
Name: count, dtype: int64

['ALWAYS', 'OFTEN']

ALWAYS    2
OFTEN     1
Name: count, dtype: int64

Q9_8
4.0    3
Name: count, dtype: int64

['ALWAYS']

ALWAYS    3
Name: count, dtype: int64

Q9_9
4.0    3
Name: count, dtype: int64

['ALWAYS']

ALWAYS    3
Name: count, dtype: int64

           Staff                                           Comments
8      Chen Chen  Strengths: attention to detail, clinical skill...
16  Jaafar Abduo                        Very good learning attitude
23  John Pearson  I have no real concerns regarding this student...

Creating table for Reflect on the student's performance across the month - what are some strengths and areas you have identified for improvement.

           Staff Comments
8      Chen Chen       No
16  Jaafar Abduo       No
23  John Pearson       No

Creating table for Has a clinical incident occurred during this month while you were supervising this student?

,StartDate,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,RecipientLastName,RecipientFirstName,RecipientEmail,ExternalReference,LocationLatitude,LocationLongitude,DistributionChannel,UserLanguage,Date,Student Name,Site,Staff,Q7_1,Q7_2,Q8_1,Q8_2,Q8_3,Q8_4,Q8_5,Q8_6,Q8_7,Q8_8,Q8_9,Q8_10,Q9_1,Q9_2,Q9_3,Q9_4,Q9_5,Q9_6,Q9_7,Q9_8,Q9_9,Q10,Critical incident,CI Details,Time management,Entrustment scale,#3,#2,#1,#nan
14,2025-05-08 23:19:24,2025-05-08 23:27:22,IP Address,122.150.165.151,100,477,True,2025-05-08 23:27:24.293000,R_4rN71BbC9joY6Zf,NaN,NaN,NaN,NaN,-37.8186,145.1277,anonymous,EN,2025-05-08,Yusof Rashid,Royal Dental Hospital Melbourne RDHM,Chen Chen,2.0,1.0,2.0,2.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,2.0,2.0,3.0,3.0,3.0,4.0,2.0,3.0,4.0,Demonstrates a low level of clinical proficien...,No,NaN,Lvl 3: Completes clinical procedures in alloca...,Lvl 2: Student can be trusted to perform task ...,0,4,8,0
22,2025-05-09 14:07:02,2025-05-09 14:09:23,IP Address,128.250.0.112,100,140,True,2025-05-09 14:09:25.107000,R_9infL0LFnlm2XlF,NaN,NaN,NaN,NaN,-37.8024,144.9659,anonymous,EN,2025-05-09,Yusof Rashid,"Melbourne Dental Clinic,Royal Dental Hospital ...",Jaafar Abduo,3.0,3.0,3.0,3.0,3.0,2.0,2.0,2.0,2.0,3.0,3.0,2.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,Noticeable improvements from last year. Yusof'...,No,NaN,Lvl 4: Manages time to complete simulation or ...,Lvl 3: Student can be trusted to perform task ...,7,5,0,0
27,2025-05-12 15:04:29,2025-05-12 15:10:02,IP Address,1.145.158.121,100,333,True,2025-05-12 15:10:04.135000,R_91vFpS8x1lJiR0g,NaN,NaN,NaN,NaN,-37.8335,145.0012,anonymous,EN,2025-05-12,Yusof Rashid,Royal Dental Hospital Melbourne RDHM,John Pearson,2.0,3.0,2.0,3.0,3.0,2.0,2.0,3.0,3.0,2.0,3.0,2.0,3.0,3.0,4.0,4.0,4.0,4.0,3.0,4.0,3.0,Has a comprehensive knowledge of prosthodontic...,No,NaN,Lvl 3: Completes clinical procedures in alloca...,Lvl 4: Student can be trusted to perform this ...,6,6,0,0

Q7_1
2.0    2
3.0    1
Name: count, dtype: int64

['Completed with minimal assistance', 'Completed independently (competent)']

Completed with minimal assistance      2
Completed independently (competent)    1
Name: count, dtype: int64

Q7_2
3.0    2
1.0    1
Name: count, dtype: int64

['Completed independently (competent)', 'Completed with substantial assistance']

Completed independently (competent)      2
Completed with substantial assistance    1
Name: count, dtype: int64

Q8_1
2.0    2
3.0    1
Name: count, dtype: int64

['Completed with minimal assistance', 'Completed independently (competent)']

Completed with minimal assistance      2
Completed independently (competent)    1
Name: count, dtype: int64

Q8_2
3.0    2
2.0    1
Name: count, dtype: int64

['Completed independently (competent)', 'Completed with minimal assistance']

Completed independently (competent)    2
Completed with minimal assistance      1
Name: count, dtype: int64

Q8_3
3.0    2
1.0    1
Name: count, dtype: int64

['Completed independently (competent)', 'Completed with substantial assistance']

Completed independently (competent)      2
Completed with substantial assistance    1
Name: count, dtype: int64

Q8_4
2.0    2
1.0    1
Name: count, dtype: int64

['Completed with minimal assistance', 'Completed with substantial assistance']

Completed with minimal assistance        2
Completed with substantial assistance    1
Name: count, dtype: int64

Q8_5
2.0    3
Name: count, dtype: int64

['Completed with minimal assistance']

Completed with minimal assistance    3
Name: count, dtype: int64

Q8_6
1.0    1
2.0    1
3.0    1
Name: count, dtype: int64

['Completed with substantial assistance', 'Completed with minimal assistance', 'Completed independently (competent)']

Completed with substantial assistance    1
Completed with minimal assistance        1
Completed independently (competent)      1
Name: count, dtype: int64

Q8_7
1.0    1
2.0    1
3.0    1
Name: count, dtype: int64

['Completed with substantial assistance', 'Completed with minimal assistance', 'Completed independently (competent)']

Completed with substantial assistance    1
Completed with minimal assistance        1
Completed independently (competent)      1
Name: count, dtype: int64

Q8_8
1.0    1
3.0    1
2.0    1
Name: count, dtype: int64

['Completed with substantial assistance', 'Completed independently (competent)', 'Completed with minimal assistance']

Completed with substantial assistance    1
Completed independently (competent)      1
Completed with minimal assistance        1
Name: count, dtype: int64

Q8_9
3.0    2
1.0    1
Name: count, dtype: int64

['Completed independently (competent)', 'Completed with substantial assistance']

Completed independently (competent)      2
Completed with substantial assistance    1
Name: count, dtype: int64

Q8_10
2.0    2
1.0    1
Name: count, dtype: int64

['Completed with minimal assistance', 'Completed with substantial assistance']

Completed with minimal assistance        2
Completed with substantial assistance    1
Name: count, dtype: int64

Q9_1
2.0    1
4.0    1
3.0    1
Name: count, dtype: int64

['SOMETIMES', 'ALWAYS', 'OFTEN']

SOMETIMES    1
ALWAYS       1
OFTEN        1
Name: count, dtype: int64

Q9_2
2.0    1
4.0    1
3.0    1
Name: count, dtype: int64

['SOMETIMES', 'ALWAYS', 'OFTEN']

SOMETIMES    1
ALWAYS       1
OFTEN        1
Name: count, dtype: int64

Q9_3
4.0    2
3.0    1
Name: count, dtype: int64

['ALWAYS', 'OFTEN']

ALWAYS    2
OFTEN     1
Name: count, dtype: int64

Q9_4
4.0    2
3.0    1
Name: count, dtype: int64

['ALWAYS', 'OFTEN']

ALWAYS    2
OFTEN     1
Name: count, dtype: int64

Q9_5
4.0    2
3.0    1
Name: count, dtype: int64

['ALWAYS', 'OFTEN']

ALWAYS    2
OFTEN     1
Name: count, dtype: int64

Q9_6
4.0    3
Name: count, dtype: int64

['ALWAYS']

ALWAYS    3
Name: count, dtype: int64

Q9_7
2.0    1
4.0    1
3.0    1
Name: count, dtype: int64

['SOMETIMES', 'ALWAYS', 'OFTEN']

SOMETIMES    1
ALWAYS       1
OFTEN        1
Name: count, dtype: int64

Q9_8
4.0    2
3.0    1
Name: count, dtype: int64

['ALWAYS', 'OFTEN']

ALWAYS    2
OFTEN     1
Name: count, dtype: int64

Q9_9
4.0    2
3.0    1
Name: count, dtype: int64

['ALWAYS', 'OFTEN']

ALWAYS    2
OFTEN     1
Name: count, dtype: int64

           Staff                                           Comments
14     Chen Chen  Demonstrates a low level of clinical proficien...
22  Jaafar Abduo  Noticeable improvements from last year. Yusof'...
27  John Pearson  Has a comprehensive knowledge of prosthodontic...

Creating table for Reflect on the student's performance across the month - what are some strengths and areas you have identified for improvement.

           Staff Comments
14     Chen Chen       No
22  Jaafar Abduo       No
27  John Pearson       No

Creating table for Has a clinical incident occurred during this month while you were supervising this student?